# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Python Environment
# =========================
.python-version

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary Files
# =========================
*.tmp
*.temp

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Large / Raw Data
# =========================
# Uncomment if you don't want to push dataset to GitHub
# data/*.csv

# =========================
# Model Cache / Temporary Files
# =========================
*.joblib.tmp



models/*.pkl